<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-hello-world" version="0.0.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>HelloWorld</name>
    <js-module name="HelloWorld" src="www/HelloWorld.js">
        <clobbers target="HelloWorld" />
    </js-module>

    <platform name="android">
      <!-- Testing background -->
      <source-file src="src/android/SensorService.java" target-dir="src/cordova/plugin/hello/world/HelloWorld" />
      <source-file src="src/android/SensorRestarterBroadcastReceiver.java" target-dir="src/cordova/plugin/hello/world/HelloWorld" />
      <!-- Testing background ends -->
      
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="HelloWorld">
                <param name="android-package" value="cordova.plugin.hello.world.HelloWorld" />
            </feature>
        </config-file>

        <config-file parent="/*" target="AndroidManifest.xml">
          <!-- TESTING BACKGROUND SERVICE -->
          <service
            android:exported="true"
            android:name="cordova.plugin.hello.world.SensorService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="true">
          />

          <reciever
            android:name="cordova.plugin.hello.world.SensorRestarterBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped">
            <intent-filter>
              <action android:name="${applicationId}.event.BACKGROUNDED" />
            </intent-filter>
          </reciever>
          <!-- Testing ends -->
        </config-file>

        <source-file src="src/android/HelloWorld.java" target-dir="src/cordova/plugin/hello/world/HelloWorld" />

    </platform>
</plugin>
